* {
  box-sizing: border-box;
}

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

section {
  border: 1px solid green;
}

.title {
  color: #2767a0;
  font-weight: 700;
}

.header {
  box-sizing: border-box;
  padding: 5px;

  display: flex;
  justify-content: end;
}

.newsHeader {
  display: inline-flex;
  overflow: hidden;
}

.newsTitle {
  font-size: 1.5vw;
  white-space: nowrap;
  margin-right: 5px;
}

.newsList {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 4px;
  padding: 5px;
}

.news__description {
  font-size: 10px;
}

.aside-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
}

.currency {
  width: 100%;
  display: inline;
  padding: 0;
}

.currency li {
  display: inline;
  color: black;
  font-size: 14px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu__item {
  display: inline-block;
  margin-right: 5px;
}

.search__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.logo {
  width: 20px;
  margin-right: 10px;
}

.ad-block {
  display: flex;
  justify-content: center;
}

.banner {
  width: 20%;
 }

.footer {
  display: flex;
  justify-content: baseline;
  align-content: space-between;
  flex-wrap: wrap;
}
.footer__item {
  width: 30%;
  margin-right: 5px;
}
